<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/transaction/transaction.css" th:href="@{/css/transaction/transaction.css}">

  <div th:replace="~{fragments/html_head.html}" />
</head>
<body>
<div class="contenedor">
  <div th:replace="~{fragments/html_sidebar.html}" />

  <div class="contenido">
    <section class="home-section">
      <header class="header">
        <h1>Sistema de gestión de usuarios</h1>
      </header>
      <section class="content-section">
        <h1>[[${pageTitle}]]</h1>
        <br>
        <div>
          <form th:action="@{/front/users/save}" method="post" th:object="${employee}">
            <input type="hidden" th:field="*{id}">
            <div class = "border border-secondary rounded p-3">
              <div class="form-group row">
                <label class = "col-sm-4 col-form-label" style="font-size: 20px">Nombre: </label>
                <div class="col-sm-8">
                  <input type="text" th:field="*{name}" class="form-control" style="font-size: 20px" required minlength="3" maxlength="45">
                </div>
              </div>
              <div class="form-group row">
                <label class = "col-sm-4 col-form-label" style="font-size: 20px">e-Mail: </label>
                <div class="col-sm-8">
                  <input type="text" th:field="*{email}" class="form-control" style="font-size: 20px" required minlength="5" maxlength="45">
                </div>
              </div>

              <div class="form-group row">
                <label class = "col-sm-4 col-form-label" style="font-size: 20px">Empresa: </label>
                <div class="col-sm-8">
                  <select th:field="*{enterprise}" class="form-control" required>
                    <th:block th:each="enterprise : ${enterpriseList}">
                      <option th:text="${enterprise.name}" th:value="${enterprise.id}"></option>
                    </th:block>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class = "col-sm-4 col-form-label" style="font-size: 20px">Rol: </label>
                <div class="col-sm-8">
                  <select name="role" class="form-control" required>
                    <option th:each="roleOpt : ${T(com.FuzionSW.UdeA.ProyectoCiclo3.entities.RoleName).values()}"
                            th:value="${roleOpt}" th:text="${roleOpt.displayValue}"></option>
                  </select>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary m-2" style="background-color: #1d1b31; border-color: #1d1b31">Guardar</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelNuevoUsuario()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </section>
  </div>

  <div th:replace="~{fragments/html_footer.html}" />
</div>
<script src="../static/js/script.js" type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript">
  function cancelNuevoUsuario() {
    window.location = "[[@{/front/users}]]";
  }
</script>
</body>
</html>