<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/transaction/transaction.css" th:href="@{/css/transaction/transaction.css}">

  <div th:replace="~{fragments/html_head.html}" />
</head>
<body>
<div class="contenedor">
  <div th:replace="~{fragments/html_sidebar.html}" />

  <div class="contenido">
    <section class="home-section">
      <header class="header">
        <h1>Sistema de gestión de ingresos y gastos</h1>
      </header>
      <section class="content-section">
        <h1>Ingresos y gastos</h1>
        <br>
        <div class="contenedor-boton">
          <button type="button" class="btn btn-primary" th:onclick="|window.location.href='/front/movements/new'|">
            Nuevo
            <i class="fa-sharp fa-solid fa-circle-plus"></i>
          </button>
        </div>
        <br>
        <div th:if="${message}" class="alert alert-success text-center">
          [[${message}]]
        </div>

        <div class="tabla">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="text-center">Id</th>
              <th class="text-center">Concepo</th>
              <th class="text-center">Monto</th>
              <th class="text-center">Usuario</th>
              <th class="text-center">Empresa</th>
              <th class="text-center">Fecha del movimiento</th>
              <th class="text-center">Fecha de modificación</th>
              <th class="text-center">Modificar</th>
              <th class="text-center">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="transaction : ${transactionList}">
              <tr>
                <td th:text="${transaction.id}"></td>
                <td th:text="${transaction.concept}"></td>
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.user.name}"></td>
                <td th:text="${transaction.enterprise.name}"></td>
                <td th:text="${#temporals.format(transaction.createdAt,'dd/MM/YYYY')}"></td>
                <td th:text="${#temporals.format(transaction.updatedAt,'dd/MM/YYYY hh:mm:ss a')}"></td>
                <td>
                  <button type="button" class="btn btn-success" th:onclick="|window.location.href='@{'/front/movements/edit/' + ${transaction.id}}'|">
                    <i class="fas fa-edit"></i>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" th:onclick="|window.location.href='@{'/front/movements/delete/' + ${transaction.id}}'|">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </th:block>
            </tbody>
          </table>
        </div>
        <div class="contenedor-boton" style="margin-top: 10px">
          <button type="button" class="btn btn-primary" th:onclick="|window.location.href='/front/main'|">
            <i class="fa-solid fa-circle-left"></i>
          </button>
        </div>

      </section>
    </section>
  </div>

  <div th:replace="~{fragments/html_footer.html}" />
</div>
<script src="../static/js/script.js" type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>